<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Registration</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				<label for="full_name">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="full_name" placeholder="Full_name" id="full_name" required>
				
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				
				<label for="age">
					<i class="fas fa-lock"></i>
				</label>
				<input type="number" name="age" placeholder="Age" id="age" required></input>
				
				<label for="address">
					<i class="fas fa-lock"></i>
				</label>
				<input type="text" name="address" placeholder="Address" id="address" required>
				
				<label for="floor">
					<i class="fas fa-lock"></i>
				</label>
				<input type="number" name="floor" placeholder="Floor" id="floor" required>

				<label for="elevator">
					<i class="fas fa-lock"></i>
				</label>
				<input type="text" name="elevator" placeholder="Elevator" id="elevator" required>
				
				<label for="phone_number">
					<i class="fas fa-lock"></i>
				</label>
				<input type="text" name="phone_number" placeholder="Phone_number" id="phone_number" required>
				
				<label for="limitations">
					<i class="fas fa-lock"></i>
				</label>
				<input type="text" name="limitations" placeholder="Limitations" id="limitations" required>
				
				<label for="people_living_with">
					<i class="fas fa-lock"></i>
				</label>
				<input type="text" name="people_living_with" placeholder="People_living_with" id="people_living_with" required>
				<label for="people_living_with">
					<i class="fas fa-lock"></i>
				</label>
				
				<div class="msg">{{ msg }}</div>
				
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>